<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script type="text/javascript" th:src="@{/js/angular.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/js/react.js}"></script>
    <script type="text/javascript" th:src="@{/js/react-dom.js}"></script>
    <script type="text/javascript" th:src="@{/js/browser.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <!--<script type="text/babel" th:src="@{/js/index.js}"></script>-->
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/js/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/layuitest.js}"></script>
</head>
<body>
React例子
<div id="root">
    <button class="layui-btn layui-btn-normal" id="upLoad">上传</button>
    <button class="layui-btn layui-btn-normal" id="downLoad">下载</button>
    <button class="layui-btn layui-btn-normal" id="downLoad2">下载2</button>
</div>
<!--注意一个html只能有一个ng-app-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    {{ firstName + " " + lastName }}

    <div ng-controller="todoCtrl">
        <h2>我的备忘录</h2>

        <form ng-submit="todoAdd()">
            <input type="text" ng-model="todoInput" size="50" placeholder="新增">
            <input type="submit" value="新增">
        </form>

        <br>

        <div ng-repeat="x in todoList">
            <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
        </div>

        <p><button ng-click="remove()">删除记录</button></p>
    </div>
</div>-->

</body>
</html>